<mat-sidenav-container class="sidenav">
    <mat-sidenav class="sidenav__aside" #aside>
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav__content">
        <section class="sidenav__main-content">
            <app-spinner *ngIf="isSpinnerVisible"></app-spinner>
            <button (click)="healthCheck()" class="sidenav__main-content-button">Test</button>
            <app-header [isLogged]="isLogged" (menuButtonClicked)="aside.toggle()" (loggedOutClicked)="logout()">
            </app-header>
            <router-outlet></router-outlet>
        </section>
        <app-footer class="sidenav__footer"></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
